$primary: #0e80eb;
$info: #505050;
$success: #09b63d;
$success_opacity: #09b63d14;
$warn: #f57b29;
$danger: #ec3437;
$boder: #f0f0f0;
$shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$code_bg: #f7f7f7;

$color-fff :#ffffff;
$color-main :#006ce1;
$color-main-hover :#0051a8;
$color-main-pressed :#003a7a;
$color-main-disable-1 :#b3b3b3;
$color-main-disable-2 :#d1d1d1;

$checkbox-main :#010101;
$checkbox-main-2 :#dee5ec;
$input-main :#666666;

// -----------------
// base color
$primary-color: #feebe1;
$secondary-color: #fffbf9;
$third-color: #f8f8f8;
$black: #302d2c;
$blue-light: #9193b4;
$blue-dark: #20234d;
$white: #fff;
$green: #20A2A0;
$danger: #FF5555;
$light-green: #E9F6F6;


$btn-main-color: #21a1a0;
$btn-main-color-hover: #26bbbb;
$btn-cancel-color: rgba(#21a1a0, 0.1);
$btn-cancel-color-hover: rgba(#21a1a0, 0.2);
$btn-disable: #f5f7fa;

$header-height: 6.25rem;
$footer-height: 4.25rem;

$header-height-rwd: 3.125rem;
$footer-height-rwd: 8rem;

$el-input-height: 50px;

// 限縮網頁內容
$basic-padding: 2rem;

